if current.path[0] == 'index'
	-var hierarchy = 0
if hierarchy != 0
	-var title = pagename + '|' + sitetitle
else
	-var title = sitetitle
doctype
html
	head
		meta(charset='utf-8')
		title= title
		meta(name='description', content='#{description}')
		meta(name='keywords', content='#{keywords}')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel='icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
		link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
		link(rel='stylesheet' href='/css/fontawesome/font-awesome.css')
		link(rel="stylesheet" href="/css/main.css")
		meta(property='og:locale', content='ja_JP')
		meta(property='og:type', content='website')
		meta(property='og:title', content='#{title}')
		meta(property='og:description', content='#{description}')
		meta(property='og:image', content='#{uri}#{ogpurl}')
		meta(property='og:url', content='#{uri}')
		meta(property='og:site_name', content='#{sitetitle}')
		|<!--[if lt IE 9]>
		|<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		|<![endif]-->
	body
		block main
			.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/index.html")= sitetitle
					.collapse.navbar-collapse
						ul.nav.navbar-nav
							for article, slug in public._data
								li
									a(href="/#{ slug }.html")= article.pagename
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| Subpage01
									span.caret
								ul.dropdown-menu
									for article, slug in public.subpage01._data
										li
											a(href="/subpage01/#{ slug }.html")= article.pagename
									for article, slug in public.subpage01.subpage03._data
										li
											a(href="/subpage01/subpage03/#{ slug }.html")= article.pagename
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| Subpage02
									span.caret
								ul.dropdown-menu
									for article, slug in public.subpage02._data
										li
											a(href="/subpage02/#{ slug }.html")= article.pagename
		!= yield
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/custom.js")
